#basic-app .panel {
  display: inline-block;
  margin: 0 2px;
  width: 100px;
  height: 275px;
  border: 3px solid transparent;
  overflow: hidden;
  background-color: #A0A0A0;
}

#basic-app .panel img {
  opacity: 0.3;
  width: 200px;
  height: 300px;
}

#basic-app #panels {
  margin: 35px auto 0 auto;
  text-align: center;
}
